code {
    display: block;
    white-space: pre-wrap;
}

.monospace, h1, h2 {
    font-family: 'Inconsolata', monospace;
}
.title.monospace {
    letter-spacing: -1px;
}
.end {
    background: #4a4a4a;
    color: white;
    font-weight: 600;
    padding: 0.1rem;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}
.nav-title {
    font-size: 1.2rem;
}
.ntop {
    color: #ff7500;
}
.container {
    border: 1px solid #414246;
    border-radius: 0.25rem;
}
.titlebar {
    background-color: #2A252F;
    height: 28px;
    border-bottom: 1px solid;
    border-bottom-color: #000;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-bottom: 0.25rem;
}
.titlebar-buttons {
    margin-left: 12px;
}
.titlebar .terminal-button {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    display: inline-block;
}
.titlebar .terminal-button.red {
    background-color: #FF5F57;
}
.titlebar .terminal-button.yellow {
    background-color: #FEBC2E;
    margin: 0 4px;
}
.titlebar .terminal-button.green {
    background-color: #28C840;
}
.slideshow {
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
    overflow-y: hidden;
}