<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <title>@gabryon | {{ page.title }}</title>
</head>
<body>
    {% include navigation.html %}
    <div class="px-2 mb-3">
        <div class="container">
            <div class="titlebar">
                <div class="titlebar-buttons">
                    <span class="terminal-button red"></span>
                    <span class="terminal-button yellow"></span>
                    <span class="terminal-button green"></span>
                </div>
            </div>
            <h1 class="title is-4 mb-3 px-2 monospace">
                guest@gabryon.me: <span class='has-text-success'>~</span>/site<span>{{ page.subdir }}</span> <span class="has-text-info">❯</span>
                {% if page and page.command %}
                    <span id="command" style='display: none;'>{{ page.command }}</span>
                {% else %}
                    <span id="command" style='display: none;'>less {{ page.title }}.html</span>
                {% endif %}
            </h1>
            <div id="content" class="p-2" style="opacity: 0;">
                {{ content }}
                <div class="end monospace mt-4">
                    {{ page.title }}.html (END)
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/assets/js/main.js"></script>
</body>
</html>